.EightBall {
    width: 300px;
    height: 300px;
    color: white;
    border-radius: 50%;
    background-color: black;
    margin: auto auto;
}

.EightBall-Answer {
    position: relative;
    top: 80px;
    left: 80px;
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 120px solid blue;
}

p {
    position: relative;
    left: 120px;
    margin-top: 5px;
    z-index: 1;
    width: 60px;
    font-weight: 800;
    text-shadow: black 1px 0 10px;
    opacity: 70%;
}

.black {
    color: white;
    transition: color 1s;
}

.green {
    color: green;
    transition: color 1s 1s;
}

.goldenrod {
    color: goldenrod;
    transition: color 1s;
}

.red {
    color: red;
    transition: color 1s;
}